body {
  background:#565869;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  background-color: #343541;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:300px;
  width:100%;
}

.title-planning {
  padding-top:50px;
  color:white;
  text-align: center;
}
.section-calendar {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
.calendar {
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:20px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid white;
}

th {
  background-color: #343541;
  color:white;
}

td {
  background-color:rgba(0, 139, 139, 0.562);
  color:white;
}

td:nth-child(2n+3) {
  background-color:darkslategray;
  color:white;
}

td:nth-child(2n+4) {
  background-color: darkslateblue;
  color: white;
}

/*Cards projets*/
.title-section-cards {
  padding-top:50px;
  color:white;
  text-align: center;
}

.projects-cards {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}

.project-card {
  background-color: #343541;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 0 0 10px white;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s;
  margin: 10px;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-number {
  background-color: rgba(0, 139, 139, 0.562);
  border-radius: 5px 0px 5px 0px;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
}

.project-content h2 {
  font-size: 24px;
  margin: 0;
}

.project-content p {
  font-size: 16px;
  margin: 5px 0;
}

.project-content a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: darkcyan;
}

/*Fiches projets*/
.competences-section {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color:white;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 colonne pour 14 projets (quinconce) */
  gap: 20px; /* Espacement entre les projets */
  padding: 20px;
}

.project-competences-impair {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom:40px;
}

.project-competences-pair {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom:40px;
}

.box-pair, .box-impair {
  background:#343541;
  display: flex;
  flex-direction: column;
  Width:70%;
  padding:20px;
  text-align:left;
  border: 1px solid grey;
  box-shadow: 0 0 10px white;
  cursor:pointer;
  overflow: hidden;
  border-radius:10px 0px 0px 0px;
}

.box-impair {
  margin-left:7%;
}
.box-pair {
  margin-right: 7%;
}

.description-pair {
  height:0;
  width:70%;
  overflow: hidden;
  background:rgba(0, 139, 139, 0.562);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
  margin-right:7%;
  border-radius:0px 0px 10px 0px;
  box-shadow: 0 0 10px white;
  position:relative;
  opacity: 0; /* masque la description avec l'opacité à 0 */
  transition: opacity 1s ease; /* Ajoute la transition pour l'animation d'opacité */
}

.description-impair {
  height:0;
  width:70%;
  overflow: hidden;
  margin-left: 7%;
  padding:20px;
  text-align: left;
  background:rgba(0, 139, 139, 0.562);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius:0px 0px 10px 0px;
  box-shadow: 0 0 10px white;
  position:relative;
  opacity: 0; /* masque la description avec l'opacité à 0 */
  transition: opacity 1s ease; /* Ajoute la transition pour l'animation d'opacité */
}
.project-competences-impair:hover .description-impair,
.project-competences-pair:hover .description-pair {
  opacity: 1; /* Augmente l'opacité au survol pour afficher la description */
  height:auto;
}

footer {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:100px;
  width:100%;
  background-color: #343541;
  color:white;
}




