body {
  background:#565869;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  background-color: #343541;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:300px;
  width:100%;
}

.title-planning {
  color:white;
  text-align: center;
}

.calendar {
  margin: 20px auto;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid white;
}

th {
  background-color: darkgray;
  color:white;
}

td {
  background-color:cadetblue;
  color:white;
}

td:nth-child(2n+3) {
  background-color:darkslategray;
  color:white;
}

td:nth-child(2n+4) {
  background-color: darkslateblue;
  color: white;
}

td:nth-child(2n+5) {
  background-color: #ff9999;
}

td:nth-child(2n+6) {
  background-color: #ff8080;
}

.title-section-cards {
  color:white;
  text-align: center;
}

.projects-cards {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}

.project-card {
  background-color: darkgrey;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 0 0 10px white;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s;
  margin: 10px;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-number {
  background-color: darkcyan;
  border-radius: 5px 0px 5px 0px;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
}

.project-content h2 {
  font-size: 24px;
  margin: 0;
}

.project-content p {
  font-size: 16px;
  margin: 5px 0;
}

.project-content a {
  color: white;
  text-decoration: underline;
}

/*Fiches compétences ciblées*/
.competences-section {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color:white;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 7 colonnes pour 14 projets (quinconce) */
  gap: 20px; /* Espacement entre les projets */
  padding: 20px; /* Espacement intérieur de la grille */
}

.project-competences {
  border: 1px solid darkgray;
  padding: 20px;
  box-shadow: 0 0 10px white; /* Ajoute une ombre légère */
}

/* Style spécifique à chaque projet, personnalisez comme nécessaire */
.project-card:nth-child(odd) {
  text-align: left; /* Projet impair aligné à gauche */
}

.project-card:nth-child(even) {
  text-align: right; /* Projet pair aligné à droite */
}


footer {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:100px;
  width:100%;
  background-color: #343541;
  color:white;
}




